  <!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <h1>Customer Login</h1>
          <a href="#/work/themeforest/w-shipping/index.php" title="Home">Home</a> / Customer Login
        </div>
        <div class="col-12 col-lg-5 text-right">
          <h4>We freight to all over the world The best logistic company, <span>FAST</span> and <span>SAFELY!</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->
  
  <!-- Customer login Start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="customer-login">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="customer-login-left">
              <div class="login-icon">
                <i class="fa fa-lock"></i>
              </div>
              <h4>Welcome To your account</h4>
              <p>Canadian multinational conglomerate holding company focused on transportation, 
              e-commerce and services based in Memphis, Tennessee.</p>
              <%= link_to "Create new account", new_registration_path(resource_name), class: "btn btn-outline-success btn-lg btn-block" %>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="customer-login-block">
              <h2>Login To Your Account</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="checkbox">
                    <%= f.check_box :remember_me, class: "checkbox", id: "remember" %>
                    <%= f.label :remember_me, class: "css-label" %>
                  <% end %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot-pass" %>
                </div>
                <%= f.submit "Log in", class: "btn btn-submit btn-danger" %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Customer login end -->
<% end %>