<!DOCTYPE html>
<html>
  <head>
    <title>Freight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Stylesheet CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery library -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>

      <%= yield %>


      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
